.DateInput.DateInput_1 {
    width: 40%;
}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2{
    width: 80%;
}

.plot-container.plotly{
    width: 100%;
}
/* 
#line_weather{
    width: 100%;
} */

.card-body{
    width: 100;
}